<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <header id="nav-wrapper">
    <nav id="nav">
      <div class="nav left">
        <span class="gradient skew"><h1 class="logo un-skew"><a href="#home">Favourite Actors</a></h1></span>
        <!-- <button id="menu" class="btn-nav"><span class="fas fa-bars"></span></button> -->
      </div>
      <div class="nav right">
        <a href="/" class="nav-link active"><span class="nav-link-span"><span class="u-nav">Home</span></span></a>
        <a href="actor1" class="nav-link"><span class="nav-link-span"><span class="u-nav">Actor1</span></span></a>
        <a href="actor2" class="nav-link"><span class="nav-link-span"><span class="u-nav">Actor2</span></span></a>
        <a href="actor3" class="nav-link"><span class="nav-link-span"><span class="u-nav">Actor3</span></span></a>
        <a href="actor4" class="nav-link"><span class="nav-link-span"><span class="u-nav">Actor4</span></span></a>
      </div>
    </nav>
  </header>

  <link rel="stylesheet" href="/javascripts/script.js">
</body>

</html>